[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
trio-typing = "*"
mypy = "*"
black = {extras = ["d"], version = "*"}
"discord.py-stubs" = "*"

[packages]
peewee = "*"
discord-py = {extras = ["voice"], version = "*"}
loguru = "*"
trio = "*"
httpx = {extras = ["http2"], version = "*"}
sniffio = "*"
tenacity = "*"
trio-util = "*"
cchardet = "*"
brotlipy = "*"
# trio-parallel = "*"
# trimeter = {editable = true, git = "https://github.com/python-trio/trimeter.git"}
# perf-timer = "*"
trio-asyncio = {editable = true, git = "https://github.com/python-trio/trio-asyncio.git"}
discord-py-slash-command = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python bot.py"
