[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
mypy = "*"
black = {extras = ["d"], version = "*"}
"discord.py-stubs" = "*"
nuitka = "*"
jupyter = "*"
pylint = "*"

[packages]
peewee = "*"
discord-py = {extras = ["voice"], version = "*"}
loguru = "*"
httpx = {extras = ["cli","http2"], version = "==0.21.*"}
sniffio = "*"
tenacity = "*"
cchardet = "*"
brotlipy = "*"
discord-py-slash-command = "==1.*"
attrs = "*"
anyio = "*"
uvloop = "*"
edgedb = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true

[scripts]
bot = "python bot.py"
